# See https://github.com/direnv/direnv/wiki/Python#venv-stdlib-module for adding
# support for the python-venv direnv layout function

layout python-venv python3
export PIP_DISABLE_PIP_VERSION_CHECK=1
